* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-primary: #bee9e8;
  --color-text: #284b63;
  --color-white: #ffffff;

  --transition: all 400ms ease;

  --container-width-lg: 72%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  background: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

/* Media queries to small & medium width device */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
